<nz-row *ngIf="products" nzJustify="end" nzAlign="middle">
  <nz-col>
    <label>
      <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
        <input type="text" nz-input placeholder="Search for a movie"/>
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
      </ng-template>
    </label>
  </nz-col>
  <nz-col nzOffset="1">
    <button *ngIf="this.kss.isProductManager()" nz-button nzType="primary" nzSize="large" (click)="goToAddProduct()">Add
      a Product
    </button>
  </nz-col>
</nz-row>
<nz-spin [nzSpinning]="isLoading" style="margin-top: 10px">
  <div *ngIf="products;else noData">
    <nz-row nzJustify="space-around" nzAlign="middle" [nzGutter]="[16,16]">
      <nz-col *ngFor="let product of products" nzXl="8" nzLg="8" nzMd="12" nzSm="24">
        <nz-card style="width:300px;height: 100px" [nzCover]="coverTemplate"
                 [nzActions]="this.kss.isProductManager()?[actionSetting,actionEdit,actionEllipsis]:[actionSetting]">
          <nz-card-meta nzTitle="{{product.name}}"
                        nzDescription="{{product.price}} DH"></nz-card-meta>
        </nz-card>
        <ng-template #coverTemplate>
          <img alt="example" src="{{product.image }}"/>
        </ng-template>
        <ng-template #actionSetting>
          <i (click)="goToDetails(product.id)"
             style="color: #40A9FF">Details</i>
        </ng-template>
        <ng-template #actionEdit>
          <i (click)="editProduct(product.id)"
             style="color: #40A9FF">Edit</i>
        </ng-template>
        <ng-template #actionEllipsis>
          <i (click)="deleteProduct(product.id)"
             style="color: #40A9FF">Delete</i>
        </ng-template>
      </nz-col>
    </nz-row>
    <nz-row nzJustify="center" nzAlign="middle" style="margin-top: 10px">
      <nz-pagination [nzPageIndex]="pageIndex" [nzTotal]="totalElements" nzShowSizeChanger
                     [nzPageSize]="pageSize"
                     (nzPageIndexChange)="getProducts(false)"
                     (nzPageSizeChange)="getProducts(true)">
      </nz-pagination>
    </nz-row>
  </div>
  <ng-template #noData>
    <nz-result *ngIf="!isLoading" nzStatus="info" nzTitle="There is no products at the moment">
      <div nz-result-extra>
        <button nz-button *ngIf="this.kss.isProductManager()" nzType="primary" (click)="goToAddProduct()">Add a
          product
        </button>
      </div>
    </nz-result>
  </ng-template>
</nz-spin>
